.hero-section {
  margin-top: 120px;
}

.hero-section__content h2 {
  line-height: 55px;
  font-size: 2.5rem;
}

.hero-section__content h2 span {
  background: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  -webkit-text-fill-color: #fff;
  margin-left: 7px !important;
  display: inline-block;
}

.hero-section__btns {
  margin-top: 40px;
}

.hero-section__img {
  width: 500px;
  margin-left: auto;
}

.hero-section__img img {
  border-radius: 7px;
}

@media only screen and (max-width: 992px) {
  .hero-section__img {
    width: 300px;
  }

  .hero-section {
    margin-top: 90px;
  }

  .hero-section__content h2 {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .hero-section__content p {
    font-size: 0.8rem;
    line-height: 25px;
  }
}

@media only screen and (max-width: 576px) {
  .hero-section {
    margin-top: 10px;
  }
  .hero-section__img {
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }
}